<h1>Convert <%= @original_currency %></h1>


<div> Go <a href="/">back</a>.</div>

<ul>
  <% @currencies.keys.each do |symbol| %>

    <li>
      <a href="/<%= @original_currency %>/<%= symbol %>"> Convert 1 <%= @original_currency%> to <%= symbol %>...</a>
    </li>

  <% end %>
</ul>
